* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    /*background-image: url("/img/boy.jpg");*/
    /*background-repeat: no-repeat;*/
}

form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

input {
    margin: 0 0 20px 0;
    padding: 5px;
    width: auto;
}

input[type='submit'], input[type='button']{
    margin: 20px 0;
    padding: 5px;
    width: auto;
}

.form select{
    margin: 0 0 15px 0;
    padding: 5px;
}

label {
    padding: 0;
}

A {
    text-align: center;
    justify-content: center;
}
