* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*height: 100vh;*/
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    font-family: Montserrat, sans-serif;
}

label {
    padding: 0;
}

input[type='submit'], input[type='button'] {
    margin: 0 10px;
    padding: 10px 20px;
}

#cd {
    margin: auto;
    height: 20px;
    width: auto;
    /*font-family: "Courier New", Courier, mono, serif;*/
    font-size: 24px;
    color: #0d00fe;
    text-align: center;
    align-items: center;
    justify-content: center;
    /*font-weight: bold;*/
    /*background-image: url(back.jpg);*/
    vertical-align: middle;
}