* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    background: url("../img/Check.jpg") right bottom no-repeat;
    background-size: 25% 50%;
}

form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

input[type='submit'], input[type='button']{
    margin: 20px 0;
    padding: 5px;
    width: auto;
}
